<!--  

  <div class="card">


    <div class="review-container">
      <h2>Write a review 😊</h2>
  
  
      <textarea class="review-textarea" rows="4" placeholder="Write your review here..." ></textarea>
      <button class="btn btn-primary" >Submit</button>
    </div>  
  </div>
    -->


    <section class="flex-container" id="about">
        <div class="container" style="border-radius: 12px 12px 0px 0px;">
          <h2>Rate Tshindolo Park</h2>
                    
        </div>
    
        <div class="container" style="border-radius: 0px 0px 12px 12px;">
    
            <h2>Write a review 😊</h2>
          <div class="slots">
            <div class="slot1">
                <textarea class="
                n" rows="4" placeholder="Write your review here..." ></textarea>
                <button class="btn btn-primary" >Submit</button>
                
            </div>
      
        </div>
      </div>
    
    
      </section>   
      