<div id="container">
    <div class="cards">
        <div id="card1">
            <img src="/assets/images/Tshindolo_59.jpg" alt="Background Image">
        </div>
      
        <div id="card2">
            <h1>WHO ARE WE</h1>
            <p id="define-paragraphs"></p>
            <div id="source">
                <p id="source-text"></p>
            </div>
        </div>
    </div>

    <div id="offers">
        <h3>WHAT WE DO</h3>
    </div>

    <div id="slots">
        <div *ngFor="let slot of slots" class="slot">
            <img src="{{slot.imagePath}}" alt="Background Image">
            <div class="content">
                <h5 *ngFor="let item of slot.content">{{item}}</h5>
            </div>
        </div>
    </div>
</div>
