* {
  margin: 0;
  padding: 0;
}



html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #ccc;
}

.flex-container {
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 2rem;
  padding-bottom: 4.35rem;
  margin: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  /* box-shadow: 0px 5px 15px 2px black; */
}


@media screen and (max-width: 768px) {
  .flex-container {
    flex-direction: column;
    align-items: center;
  }
  .slots{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.card1, .card2 {
  border-radius: 5px;
  box-shadow: 0px 5px 15px 2px #575757;
  padding: 2rem;
  margin: 1rem;
  width: 40%;
}

@media screen and (max-width: 768px) {
  
  .card1{
    order: 1;
    transition: 2s;
    background-image: url(/assets/images/20221211_160345.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .card1:hover {
    width: 20rem; 
    height: 21rem;
    transform: skewX(0px);
  }
  .card2{
    order: 2;
    width: 80%;
    height: auto;
  }
}

.card1 {
  width: 35%;
  order: 2;
  height: 18rem;
  margin-top: 8rem;
  margin-left: 2rem;
  display: flex;
  justify-content: center;
  background-image: url(/assets/images/20221211_160345.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  /* box-shadow: 0px 5px 15px 2px black; */
  transition: 2s;
}


.card2 {
  order: 1;
  height: auto;

}

  .card1:hover{
    width: 50%;
    height: 25rem;
    transform: skewX(0px);
  }

  /* .card:hover{
    width: 50%;
    height: 19rem;
    transform: skewY(0px);
  } */


  .offers{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
  }

  .slots{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0rem;
    color: #ccc;
  }

  .slot1{
    background-image: url('/assets/images/20230106_163917.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  .slot2{
    background-image: url('/assets/images/20210501_210957.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .slot3{
    background-image: url('/assets/images/20230106_163607.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .slot4{
    background-image: url('/assets/images/20221130_204653.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .slot1, .slot2, .slot3, .slot4{
    border-radius: 5px;
    box-shadow: 0px 0px 5px #ccc;
    padding: 2rem;
    margin: 2rem;
    width: 12rem;
    height: 8rem;
    transition: 1s;
  }

  .slot1:hover, .slot2:hover, .slot3:hover, .slot4:hover{
    transform: translateY(-15px);
    box-shadow: 0px 0px 5px aqua;
    color: white;
  }