<div class="wrapper">

    <div class="container">
        <div class="card">
            <h1>WHO ARE WE</h1>
            <p id="define-paragraphs">
                

            </p>
            
            <div class="source">
                <p id="source"> </p>
            </div>
        </div>
      
        <div class="card2">
          
        </div>


      </div>

      <div class="offers">
        <h3>WHAT WE DO</h3>
    </div>

    <div class="slots">
        <div class="slot1">
            <h5>Adults Swimming pools</h5>
        </div>
        <div class="slot2">
            <h5>Water Rides</h5>
            <h5>Basic</h5>
        </div>
        <div class="slot3">
            <h5>Kids Swimming pools</h5>
        </div>
        <div class="slot4">
            <h5>Sports Activities</h5>
        </div>
    </div>

</div>
