@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap');

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
}

.header {
  text-align: center;
  margin-bottom: 1rem;
}

.info {
  text-align: center;
  margin-bottom: 2rem;
}

.location {
  text-align: center;
}

h5 {
  font-size: 2rem;
  color: #333;
  margin-bottom: 0.5rem;
}

h6 {
  font-size: 1.5rem;
  color: #777;
  margin-bottom: 1rem;
}

p {
  font-size: 1.2rem;
  color: #555;
  margin: 0.5rem 0;
}
