<div class="d-flex flex-column h-100">

  <div class="flex-container">

    <div class="slots">
      <div class="slot1">
        <h5 class="headers">By Phone</h5>
        <h6 style="font-size: 0.95rem;"><label style="font-weight: 100rem;">(Monday to Sunday, 9am to 3pm)</label></h6>
        <p class="info"> 
          Mr Maranda : 076 505 4062
          <br>
          Mrs Maranda: 071 960 5638
          <br>
          Mbuelo     : 078 772 2573
        </p>
      </div>
      <div class="slot2">
        <h5 class="headers">Email Us!</h5>
          
        <p>
          just send us your questions
          <br>
          or concerns by writing email
          <br>
          to us, and we will give
          <br>
          you the help you need.
        </p>
        <button type="button" class="btn btn-primary" id="buy-button">Email Us</button>

        <div class="popup">
          <div class="popup-content">
            <span class="close">&times;</span>
            <p>This functionality is still under development, and will start working next month.</p>
          </div>
        </div>
      

      </div>
      <div class="slot3">
        
        <h5 class="headers">Live Chat</h5>
        <p class="info">
          Chat with a member of our 
          <br>
          In-house team.
        </p>

      </div>


      <div class="slot4">
          
        <p style="color: yellow; text-shadow: 0px 0px 4px red;">
          <br> <br> <br> <br> <br>
          Developer:
          <br>
          Mbuelo
        </p>
        <button type="button" class="btn btn-primary" id="buy-button">Call-Me</button>

        <div class="mbueloPopup">
          <div class="mbueloPopup-content">
            <span class="close">&times;</span>
            <p>
              This functionality is still under development, and will start working next month.
              <br>
              In the meanWhile you can just manually call me @: 078 772 2573
            </p>
          </div>
        </div>
      
    </div>

  </div>

</div>