/* You can add global styles to this file, and also import other style files */


/* @media (max-width: 767px) {
  body{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}


 @media (min-width: 768px) {
  body{
    display: flex;
    flex-direction: row;
  }
}   */

*{
  padding: 0;
  margin: 0;
}

button {
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0069d9;
    box-shadow: 0.4rem 0.3rem 0.4rem #003c7c;
  }

