<app-header #headerComponent></app-header>
<section>
  <button (click)="getButton()" class="menu">
    <div class="menu-icon">
      <span class="bar"></span>
      <span class="bar"></span>
      <span class="bar"></span>
    </div>
    
  </button>
  <div class="blackPapper"></div>
  <div class="menu-btn">
    <label></label>

    <div class="navigation">
      <ng-container *ngFor="let link of myLinks">
        <a href="{{link.path}}">{{link.name}}</a>
    </ng-container>
    </div>
  </div>

  <div class="card-holder">
    <div class="card1">
      <p></p>
      <h1></h1>
      <p id="short-text">
      </p>
    </div>
    <div class="card2">
      <div class="button-container">
        <button class="modern-button" routerLink="/TshindoloPark/gallery">View Pictures</button>
      </div>
    </div>
    
    
  </div>

 </section>

