<!-- <div class="container-fluid">
    
    <nav class="navbar bg-body-tertiary" >
        <div class="container-fluid">
          <a class="navbar-brand" class="fs-2">Tshindolo Park</a>
          <form class="d-flex" role="search">
            <nav class="navbar navbar-expand-lg bg-body-tertiary">
                <div class="container-fluid" class="text-bg-primary">
                  
                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse" class="text-bg-primary" id="navbarNav">
                    <ul class="navbar-nav">
                      <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Features</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Pricing</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link disabled">Disabled</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </nav>
          </form>
        </div>
      </nav>

  </div> -->









<!-- ======================       My Code      ========================= -->


<div class="wrapper" class="bg-image">
    <header>
        <h2 id="welcome-note">Tshindolo Park</h2>
    
        <nav>
            <ul class="nav_links">
                <li><a href="about-us"> About Us <span class="material-symbols-outlined">
                    chat_paste_go
                    </span></a></li>
                <li><a href="location"> Location <span class="material-symbols-outlined">
                    location_on
                    </span></a></li>
                <li><a href="contact-us"> Contact Us <span class="material-symbols-outlined">call</span></a></li>
                <li><a href="rate-us"> Rate Us <span class="material-symbols-outlined">
                    thumb_up
                    </span></a></li>
            </ul>
        </nav>
    
    </header>

    <!-- ==============     My Cards Container starts    ========== -->
    <div class="container">
        <div class="card1">
          <h2 id="welcome-note1"> </h2>
          <span class="material-symbols-outlined" id="attractions_logo">
            attractions
            </span>         
        </div>
      
        <div class="card2">
            <form class="row g-3">
                <h4 id="welcome-note2"> </h4>
                <div class="col-md-6">
                    
                  <!-- Put a name TAg -->
                  <label for="inputEmail4" class="form-label">Name</label>
                  <input type="text" class="form-control" placeholder="First name" aria-label=" First name">
                </div>
                <div class="col-md-6">
                  <label for="inputEmail4" class="form-label">Email</label>
                  <input type="text" class="form-control" placeholder="Last name" aria-label=" Last name">
                </div>
                <div class="col-12">
                  <label for="inputAddress" class="form-label">Phone Number</label>
                  <input type="text" class="form-control" id="inputAddress2" placeholder=" Enter Your Phone number ">
                </div>
                
                <div class="col-md-4">
                  <label for="inputState" class="form-label">Kids</label>
                  <div class="input-group mb-3">
                    <div class="input-group-text">
                      <input class="form-check-input mt-0" type="checkbox" value="" aria-label="Checkbox for following text input">
                    </div>
                    <input type="text" class="form-control" aria-label="Text input with checkbox" placeholder="Quantity : 0">
                  </div>
                  
                  <label for="inputState" class="form-label">Adults</label>
                  <div class="input-group mb-3">
                    <div class="input-group-text">
                      <input class="form-check-input mt-0" type="checkbox" value="" aria-label="Checkbox for following text input">
                    </div>
                    <input type="text" class="form-control" aria-label="Text input with checkbox" placeholder="Quantity : 0">
                  </div>
                  
                </div>

                <div class="col-12">
                  <button type="submit" class="btn btn-primary" class="buy-button">Buy !</button>
                </div>
              </form>
        </div>
      </div>

      <!-- ==============     My Cards Container Ends    ========== -->

</div>




