section {
  height: 100vh;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  margin: 0;
  background-image: url('/assets/images/20230106_163917.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 0px 5px 15px 2px black;
}

.blackPapper{
  position: absolute;
  right: 0;
  bottom: 0;
  width: 0;
  height: 0;
  max-height: 100vh;
  max-width: 100%;
  z-index: 777;
  transition: 1.5s ease;
  background-color: rgba(42, 42, 43, 0.918);
}

section button.menu{
  position: absolute;
  right: 2%;
  top: 7.5%;
  z-index: 999;
  background-color: transparent;
  visibility: hidden;
  transform: scale(0);
  transition: 2s ease-in;
}

section button.menu:hover{
  box-shadow: none;
  background-color: transparent;
}

.menu-icon {
  width: 30px;
  height: 20px;
  cursor: pointer;
}

.bar {
  display: block;
  height: 3px;
  background-color: white;
  margin-bottom: 5px;
}

.bar:hover, .bar:nth-child(2):hover{
  background-color: yellow;
}

.bar:first-child {
  width: 100%;
  transition: 2s ease-in;
}

.bar:nth-child(2) {
  width: 70%;
  transition: 2s ease-in;
}

.bar:last-child {
  width: 40%;
  margin-bottom: 1%;
  transition: 2s ease-in;
}



/* myButton */

section .menu-btn{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 0;
  max-width: 40%;
  height: 100vh;
  background-color: rgba(10, 10, 48, 0.596);
  position: absolute;
  left: 0;
  top: 0;
  z-index: 888;
  overflow: hidden;
  transition: 2.5s ease;
}

section .menu-btn .navigation{
  height: 50%;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
}

section .menu-btn .navigation a{
  text-decoration: none;
  color: white;
  font-family: sans-serif;
  width: 100%;
  height: 10%!important;
  margin-top: 1.5%;
  padding: 4%;
  background-color: rgba(42, 42, 43, 0.685);
  display: flex;
  justify-content: center;
  align-items: center;
}




.card-holder{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-holder .card1, .card-holder .card2{
  margin: 1%;
  overflow: hidden;
  border-radius: 12px;
  background-color: rgba(42, 42, 43, 0.685);
}

.card-holder .card1{
  width: 50%;
  height: auto;
  padding: 4%;
  min-height: 14%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 120%;
  font-family: sans-serif;
  color: beige;
}

.card-holder .card1 h1{
  margin: 3% 0;
}

.card-holder .card1 p{
  font-size: 120%;
}

.card1 #short-text{
  text-align: center;
}

.card-holder .card2{
  width: 30%;
  background-color: transparent!important;
  height: auto;
  max-height: 40%;
  padding: 4%;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.modern-button {
  padding: 12px 24px;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  background-color: rgba(10, 10, 48, 0.692);
  box-shadow: 0 0 1rem white;
  border: 1px solid #0479f7;
  color: #ffffff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.modern-button:hover {
  background-color: #0056b3;
}

.modern-button:focus {
  outline: none;
}

@media(max-width: 768px){
  section button.menu{
    top: 1.5%;
    visibility: visible;
    transform: scale(1);
  }

  .card-holder{
    flex-direction: column;
  }

  .card-holder .card1, .card-holder .card2{
    height: auto;
    width: 80%;
    margin: 5%;
  }
  
}